* {
    box-sizing: border-box;
}
body {
    background: linear-gradient(300deg, white, skyblue);
    font-family: sans-serif, "Poppins";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 50vh;
}

.search-container {
    float: right;
  }
  
  .input[type=text] {
    padding: 5px 15px;
    margin-top: 8px;
    font-size: 16px;
    border: none;

  }
  
.search-container button {
    
    margin-top: 8px;
    margin-right: 16px;
   

    display: inline-block;
    padding: 2px 8px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #2d72da;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.fieldset {
    background-image: url('giphy.gif');
}

.list {
color: rgb(161, 10, 116);
text-align: center;
font-weight: 900px;

}
.icon {

    text-align: center;
    font-size: 50px;
}
.footer {
    text-align: center;
    color: rgb(94, 3, 66);

}

@media screen and (max-width: 600px) {
    .search-container {
      float: none;
    }
    a, input[type=text], .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }    
  
  }
  
.search-container button:hover {
    background: #ccc;
  }
  